/composer.phar
/vendor
/config/local.yml
*.log
/public/vendor
/public/themes
/public/plugins
/public/cache
/config/local.d/*
!/config/local.d/.gitkeep
/components
/composer.local.json
/composer.lock
/data
/log
