html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.karambol-no-padding {
  padding: 0;
}

.karambol-header {
  z-index: 10;
}

.karambol-footer {
  text-align: center;
  text-align: center;
  line-height: 25px;
}

.karambol-inline {
  display: inline-block;
}

.navbar-brand>img {
  display: inline-block;
  margin-top: -5px;
}

.karambol-flex-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  z-index: 0;
}

.karambol-flex-item {
  flex: 1 1 auto;
  align-items: stretch;
  flex-flow: column;
  align-items: stretch;
  display: flex;
}

.karambol-flex-item > * {
  width: 100%;
}

/* Page */

.karambol-page-container {
  display: flex;
}

.karambol-page {
  border: none;
  flex: 1 1 100%;
  display: block;
  opacity: 0;
  transition: opacity 250ms;
}

/* Admin - Rules */

body.karambol.admin_ruleset_upsert_access_control .CodeMirror,
body.karambol.admin_ruleset_upsert_customization .CodeMirror,
body.karambol.admin_rules_customization .CodeMirror,
body.karambol.admin_rules_access_control .CodeMirror {
  height: auto;
}

.karambol-rule-weight {
  width: 75px;
}

/* Documentation */

.karambol-documentation img {
  max-width: 100%;
}
