html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.karambol-header {
  z-index: 10;
}

.karambol-footer {
  text-align: center;
  text-align: center;
  height: 25px;
  line-height: 25px;
}

body.karambol[class^="admin"],
body.karambol[class*=" admin"] {
  padding-top: 70px;
}

.karambol-inline {
  display: inline-block;
}

.navbar-brand>img {
  display: inline-block;
  margin-top: -5px;
}

.karambol-spacedup {
  margin-top: 25px;
}

.karambol-flex-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  position: absolute;
  top: 50px;
  bottom: 0;
  z-index: 0;
}

.karambol-flex-item {
  flex: 1 1 auto;
}

/* Homepage */

.karambol-cards {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.karambol-card {
  height: 100px;
  min-width: 20%;
  background-color: #ccc;
  line-height: 100px;
  text-align: center;
  margin: 5px;
}

.karambol-card > a {
  vertical-align: middle;
}

/* Page */

.karambol-page-container {
  display: flex;
}

.karambol-page {
  border: none;
  flex: 1 1 100%;
  display: block;
}
