{% extends 'base.html.twig' %}

{% block body %}
  {% include 'admin/_navbar.html.twig' %}
  <div class="container-fluid">
    {% block content %}
      {{ menu('admin_stats') }}
    {% endblock %}
  </div>
{% endblock %}
