<div class="karambol-content">
  <div class="karambol-desktop">
    {{ menu('home_content') }}
  </div>
  <div class="karambol-footer">
    {% block body_footer %}
      {{ menu('home_footer') }}
    {% endblock %}
  </div>
</div>
