<div class="karambol-flex-container">
  <div class="karambol-flex-item">
    {{ menu('home_content') }}
  </div>
  <div class="karambol-footer">
    {% block body_footer %}
      {{ menu('home_footer') }}
    {% endblock %}
  </div>
</div>
