{% extends 'home/index.html.twig' %}

{% block head_title %}
  <title>{{ page.label|trans() }} - {{ app.settings.get('portal_title') }}</title>
{% endblock %}

{% block body_content %}
  <div class="karambol-flex-container karambol-page-flex">
    <div class="karambol-flex-item karambol-page-container">
      <iframe class="karambol-page" onload="this.style.opacity = 1" src="{{page.url}}"></iframe>
    </div>
    <div class="karambol-footer">
      {% block body_footer %}
        {{ menu('home_footer') }}
      {% endblock %}
    </div>
  </div>
{% endblock %}
