{% extends 'home/index.html.twig' %}

{% set flashMessageOpts = {"width": 6, "offset": 3 } %}

{% block body_content %}
  <div class="karambol-flex-container">
    <div class="karambol-flex-item">
      {% include 'auth/_login_panel.html.twig' %}
    </div>
    <div class="karambol-footer">
      {% block body_footer %}
        {{ menu('home_footer') }}
      {% endblock %}
    </div>
  </div>
{% endblock %}
