{% extends 'admin/index.html.twig' %}

{% block content %}
  <div class="row">
    <div class="col-md-12 clearfix">
      <div class="pull-right">
        <a href="{{ path('admin_user_new') }}" class="btn btn-primary">{{ 'admin.users.create'|trans }}</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{ form(form) }}
    </div>
  </div>
{% endblock %}
